@font-face
{
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/Kalam-Regular.ttf'), local('fonts/Kalam-Bold.ttf'), url(fonts/Kalam-Regular.ttf)
}
@font-face
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/Poppins-Regular.ttf'), local('fonts/Poppins-SemiBold.ttf'), url(fonts/Poppins-Regular.ttf)
}

html, body {
    height: 100%;
    width: 100%;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

div.banner
{
    
    height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    overflow: hidden;
    font-family: Kalam;
}
span.site-title
{
    font-family: Kalam;
    color: #fff;
    font-size: 70px;
    z-index: 1;
}
span#delicias
{
    position: absolute;
    top: 90px;
    left: 500px;
    
}

span#da
{
    position: absolute;
    top: 160px;
    left: 630px;
    
}

span#carne
{
    position: absolute;
    top:  230px;
    left: 640px;
    
}
span#slogan
{
    color: white;
    position:absolute;
    top: 310px;
    left: 500px;
    z-index: 1;
    font-style: italic;
}
video#video-banner
{
    padding: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.35;

}
/* img#banner-one
{
    opacity: 0.35;
    width: 100%;
} */

nav
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    -ms-flex-item-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;

}

nav ul#menu
{
    margin-bottom: 0;
}

ul#menu li
{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;    
}

ul#menu li:hover
{
    background-color: rgb(247, 210, 210);
}

a.menu-item
{
    display: inline-flex;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 25px;
}

a.menu-item:hover
{
    color: brown;
}

div.image-container
{
    
    width:100%;
    height: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    
    
    /* background-color: #E1E1E1; */
}

h2#exotic-meats
{
    color: brown;
    margin-top: 30px;
    margin-bottom: 30px;
}

div#inicial-offer-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

div#offer-container
{
    display: flex;
    gap: 5px;
    width: 70%;
    overflow: hidden;
    margin-left: 5px;
    flex-wrap: wrap;
}

img#initial-offer
{
width: 300px;
height: 400px;
/* border-radius: 20px; */
} 

img.day-offers
{
    gap: 5px;
    /* border-radius: 10px; */
}

img#offer-one
{
    width: 198px;
    height: 190px;
}

img#offer-two
{
    width: 400px;
    height: 190px; 
}

img#offer-three
{
    width: 198px;
    height: 190px;
}

img#offer-fourth
{
    width: 805px;
    height: 200px;
    
}


div#cards-container
{
    height: 400px;
    display:flex;
    justify-content: space-evenly;
    

}

div.card
{
    display:flex;
    width: 230px;
   height: 300px; 
   display: flex;
   flex-direction: column;
   border: 1px solid rgb(161, 159, 159);
   box-shadow: 0px 0px 10px 0px gray;
   background-color: #F5F6FB;

}
img.card-image
{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height:170px; 
    
}


div.icons-container
{
    width: 150px;
    height: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(255, 254, 254); */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgb(184, 179, 179) 5%, rgb(194, 189, 189) 20%, rgb(240, 237, 237) 70%, rgb(255, 255, 255) 90%);
}

svg.card-icons
{
    fill: rgb(83, 82, 82);
    width: 20px;
    transition: width 0.3ms;
}
svg.card-icons:hover
{
 width: 25px;

}

img.d-block
{
    height: 350px;
    width: 500px;

}

