@font-face
{
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/Kalam-Regular.ttf'), local('fonts/Kalam-Bold.ttf'), url(fonts/Kalam-Regular.ttf)
}
@font-face
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/Poppins-Regular.ttf'), local('fonts/Poppins-SemiBold.ttf'), url(fonts/Poppins-Regular.ttf)
}
html, body {
    height: 100%;
    width: 100%;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

div.banner
{
    height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    overflow: hidden;
    font-family: Kalam;
}
span.site-title
{
    font-family: Kalam;
    color: #fff;
    font-size: 70px;
    z-index: 1;
}
span#delicias
{
    position:absolute;
    top: 120px;
    left: 500px;
    
}

span#da
{
    position:absolute;
    top: 190px;
    left: 630px;
    
}

span#carne
{
    position:absolute;
    top:  260px;
    left: 640px;
    
}
span#slogan
{
    color: white;
    position:absolute;
    top: 340px;
    left: 500px;
    z-index: 1;
    font-style: italic;
}

img
{
    opacity: 0.35;
    width: 100%;
}

nav
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    -ms-flex-item-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    margin-bottom: 10px ;
}

ul#menu li
{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    
}

ul#menu li:hover
{
    background-color: rgb(247, 210, 210);
}

a.menu-item
{
    display: inline-flex;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 25px;
}
a.menu-item:hover
{
    color: brown;
}

div.home-container
{
    width:100%;
    height: 400px;
    margin-bottom: 10px;
    text-align: center;
    
    /* background-color: #E1E1E1; */
}
h2#exotic-meats
{
    color: brown;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

div#inicial-offer-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

div#offer-container
{
    overflow: hidden;
    margin-left: 5px;
    flex-wrap: wrap;
}
img#initial-offer
{
opacity: 1;
width: 300px;
height: 400px;
border-radius: 20px;
} 

img.day-offers
{
    gap: 5px;
    opacity: 1;
    border-radius: 10px;
}

img#offer-one
{
    width: 198px;
    height: 190px;
}

img#offer-two
{
    width: 400px;
    height: 190px;
   
}

img#offer-three
{
    width: 198px;
    height: 190px;
}

img#offer-fourth
{
    width: 800px;
    height: 200px;
}