@font-face
{
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/Kalam-Regular.ttf'), local('fonts/Kalam-Bold.ttf'), url(fonts/Kalam-Regular.ttf)
}
@font-face
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/Poppins-Regular.ttf'), local('fonts/Poppins-SemiBold.ttf'), url(fonts/Poppins-Regular.ttf)
}
@font-face
{
    font-family: 'MrsSaintDelafield-Regular';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/MrsSaintDelafield-Regular.ttf'), local('fonts/MrsSaintDelafield-Regular.ttf'), url(fonts/MrsSaintDelafield-Regular.ttf)
}


html, body {
    height: 100%;
    width: 100%;
  }

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

.banner
{
    
    height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    overflow: hidden;
    font-family: Kalam;
}
.site-title
{
    font-family: Kalam;
    color: #fff;
    font-size: 70px;
    z-index: 1;
}
#delicias
{
    position: absolute;
    top: 90px;
    left: 500px;
    
}

#da
{
    position: absolute;
    top: 160px;
    left: 630px;
    
}

#carne
{
    position: absolute;
    top:  230px;
    left: 640px;
    
}
#slogan
{
    color: white;
    position:absolute;
    top: 310px;
    left: 500px;
    z-index: 1;
    font-style: italic;
}
#video-banner
{
    width: 100%;
    opacity: 0.35;
}

nav
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    flex-wrap: nowrap;
}

nav ul#menu
{
    margin-bottom: 0;
}

ul#menu li
{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;    
}

ul#menu li:hover
{
    background-color: rgb(247, 210, 210);
}

a.menu-item
{
    display: inline-flex;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 25px;
}

a.menu-item:hover
{
    color: brown;
}

.image-container
{
    
    width:100%;
    height: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;    
}

h2#exotic-meats
{
    color: brown;
    margin-top: 30px;
    margin-bottom: 30px;
}

#inicial-offer-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#offer-container
{
    display: flex;
    gap: 5px;
    width: 70%;
    overflow: hidden;
    margin-left: 5px;
    flex-wrap: wrap;
}

#initial-offer
{
width: 300px;
height: 400px;
transition: 1s;
opacity: 1;
} 
#initial-offer:hover {
    opacity: 0.5;
}
.overlayFirstimage {
    display: flex;
    color: white;
    background-color: brown;
    transition: 1s;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}
.buttonOverImage {
    display: none;
    color: white;
    opacity: 1;
    background-color: #000000;
    position: relative;
    top: 200px;
    right: 25px;
    width: 150px;
    height: 50px;
    outline: 1px solid white;
}
.day-offers
{
    gap: 5px;
}

#offer-one
{
    width: 198px;
    height: 190px;
    transition: 1s;
        opacity: 1;
}
#offer-one:hover
{
    opacity: 0.5;
}
.overlaySecondimage {
    display: flex;
    color: white;
    height: fit-content;
    width: fit-content;
    background-color: brown;
    justify-content: center;
    align-items: center;
}
#offer-two
{
    width: 400px;
    height: 190px; 
    transition: 1s;
    opacity: 1;
}
#offer-two:hover
{
    opacity: 0.5;
}
.overlayThirdimage {
    display: flex;
    color: white;
    height: fit-content;
    width: fit-content;
    background-color: brown;
    justify-content: center;
    align-items: center;
}
#offer-three
{
    width: 198px;
    height: 190px;
    transition: 1s;
    opacity: 1;
}
#offer-three:hover
{
    opacity: 0.5;
}
.overlayFourthdimage {
    display: flex;
    color: white;
    height: fit-content;
    width: fit-content;
    background-color: brown;
    justify-content: center;
    align-items: center;
}

#offer-fourth
{
    width: 805px;
    height: 200px;
    transition: 1s;
    opacity: 1;
}
#offer-fourth:hover
{
    opacity: 0.5;
}
.overlayFiveimage {
    display: flex;
    color: white;
    height: fit-content;
    width: fit-content;
    background-color: brown;
    justify-content: center;
    align-items: center;
}




/* ===========================================cards Stylization=============================== */

.card-title-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    margin: 100px auto 40px auto ;
}

.shoping-call
{
    font-family: Poppins;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: brown;
}

.centralizer-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-meat-cards
{
    position: relative;
    top: 15px;
    transform: rotate(-3deg);
    color: black;
    font-family: MrsSaintDelafield-Regular;
    font-size: 45px;
    font-weight: 500;
}

.cards-container
{
    margin: auto;
    width: 80%;
    height: 700px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    

}

.border-card
{
    width: 230px;
    height: 300px;
    box-shadow: 0px 10px 20px 0px #9a9999;
    transition: 1s;
}

.border-card:hover
{
    box-shadow: 0px 10px 20px 5px #9a9999;
}
.card
{
   cursor:pointer;
   display:flex;
   width: 230px;
   height: 300px; 
   flex-direction: column;
   align-items: center;
   border: 1px solid rgb(141, 139, 139);
   box-shadow: 0px 0px 10px 0px gray;
   background-color: #F5F6FB;
   box-shadow: inset 0 0 50px 0 #a8a7a7;
   transition: 1s; 
}
.card:hover
{
box-shadow: inset 0px 0px 80px 0px rgb(241, 159, 159);

}

img.card-image
{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height:170px; 
    
}

.icons-container
{
    position: relative;
    top: -15px;
    width: 150px;
    height: 32px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(255, 254, 254); */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgb(184, 179, 179) 5%, rgb(194, 189, 189) 20%, rgb(240, 237, 237) 70%, rgb(255, 255, 255) 90%);
    box-shadow: inset 0 0 10px 0 #d9f3fa;
    transition: 1s;
}

.icons-container:hover
{
    box-shadow: inset 0 0 15px 0 rgba(255, 4, 4, 0.329);
    
}
svg.card-icons
{
    fill: brown;
    width: 20px;
    transition: width 0.3ms;
}
svg.card-icons:hover
{
 width: 25px;
}

.card-info
{
    display:block;
    text-align: center;
}
.title-card
{
 font-weight: bold;
}
.price
{
    color: brown;
}
.kg
{
    position: relative;
    top: 2px;
    left: 2px;
    font-size: 11px;
    color:#a52a2a;
}


/* ===============================================/////Cards Stylization ============================================= */

/* ====================================Facts Section======================================================= */
.did-you-know
{

    display: flex;
    background-color: rgb(250, 191, 191);
    margin-top: 100px;
    width: 100%;
    height: 420px;
    box-shadow: 3px 0px 6px 0px gray;
    margin-bottom: 100px;
    
}
#left-panel
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(165, 17, 17, 0.705);
    
}
#facts-about-meat
{
    font-size: 50px;
    color: white;
}
#curiosities
{
   font-family: MrsSaintDelafield-Regular;
   font-size: 25px;
   position: relative;
   top: 32px;
   right: 150px;
   color: white; 
}
#right-panel
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
}
.paragraph-title
{
    color: brown;
    text-align: center;
}
.paragraph-container
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 420px;
width: 500px;
}
.curiosityOne
{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.curiosityTwo
{
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
transition: 1s;

}
.curiosityThree
{
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
transition: 1s;

}

.paragraph
{
    padding: 40px;
    text-align: center;
    /* border: 3px groove brown; */
}
/* ====================================////Facts Section======================================================= */

/* =====================================formulario======================================================= */
.formulary
{
    margin: 70px auto 0px auto;
    background-color: brown;
    height: 1900px;
}

.title-form-container
{
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid white; */
    
}

.how-you-know
{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
    
}
/* ===========================================Contact Area============================================= */

.contact-area
{
   height: 250px; 
   width: 100%;
   display: flex;
   gap: 10px;
   color: #fccccc;
}

.info-capture-contact
{
   height: 250px; 
   width: 50%;
   display: flex;
   margin:auto;
   flex-direction: column;
   color: #fccccc;
   align-items: center;
   justify-content: center;
}
.contact-title
{
    margin-top: 15px;
}
input.contact
{
    width: 300px;
    height: 35px;
}


/* ===========================================//////Contact Area============================================= */
/* ===========================================radio buttons======================================== */
.radio-buton-container
{
height: 200px;    
width: 80%;
display:flex;
justify-content: space-evenly;
gap:20px;
margin: auto;
border: 1px solid white;

}

.structure-container
{
display: flex;
justify-content: center;
width: 500px;
height: 200px;
}

.radio-left-container
{ 
height: 200px;
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;
}

.span-left-container
{
    height: 120px;
    width: 400px;
    position: relative;
    top: 35px;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: left;
    color: #fccccc;   
}

.radio-buton
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid brown;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 10%;
}
.radio-buton-unselected
{
    display: none;
}
.radio-buton-selected
{
    display: flex;
    position: static;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgb(190, 102, 102) 46%, rgba(165,42,42,1) 100%);
}


/* ===================================///// radio buttons ===========================================*/

/* ===================================Check box===================================================== */
.check-box-container
{
height: 150px;    
width: 80%;
display:flex;
justify-content: space-evenly;
gap: 20px;
margin: auto;
border-top: 1px solid white;
border-left: 1px solid white;
border-right: 1px solid white;
}

.structure-check-box-container
{
display: flex;
justify-content: center;
width: 500px;
height: 150px;
}

.checkbox-category-title
{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}
.checkbox-category
{
    color: #FFF;
}

.check-left-container
{ 
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;


}

.span-check-box-left-container
{
    height: 100px;
    width: 400px;
    position: relative;
    top: 35px;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: left;
    color: #fccccc;  
}

.check-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid brown;
    border-radius: 5px;
    position: relative;
    top: 40px;
    left: 10%;
}

.check-box-selected
{
    display: flex;
    position: static;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgb(190, 102, 102) 46%, rgba(165,42,42,1) 100%);
}

.check-icon 
{
    width: 10px;
    height: 10px;
    fill: white;
}

.check-icon-fav
{
    width: 10px;
    height: 10px;
    fill: white;
}

.semiselection-favorite-meats
{
    display: none;
    fill: white;    
}

.container-select-all-none
{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70px;
    margin: auto;
    justify-content: left;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.container-check-and-span
{ 
    display:flex;
    justify-content: center;
    width: 800px;
    height: 100px;
    gap: 10px;
    flex-direction: row;
 }

/*contenedor de ultimo Check box todas as anteriores Carne favorita */
.checkbox-category-reject-container
{   
height: 35px;
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}

.check-box-reject-all-select-all
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid brown;
    border-radius: 5px;
    position: relative;
    top: 5px;
    left: 10%;
    /* border:3px solid orange; */
 
}

.check-box-selected-reject-all-select-all
{
     
    display: flex;
    position: static;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgb(190, 102, 102) 46%, rgba(165,42,42,1) 100%);
}

/* contenedor de Span de ultimo Check box todas as anteriores Carne favorita  */
.span-check-box-container-reject-all-select-all
{
    height: 60px;
    width: 400px;
    position: relative;
    top: 2px;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #fccccc;   
}

/* ===================================////Check box */

/* =================================================Gostaria de receber nossas ofertas? (Radio Buttons) ================================= */
.do-you-like
{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
}

.radio-buton-offer-container
{
height: 80px;    
width: 100px;
display:flex;
gap:5px;
margin: auto;
}

.radio-offer-container
{ 
position: relative;
top: 4px;
left: 2%;
height: 70px;
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;

}

.span-offer-container
{
    height: 70px;
    width: 50px;
    position: relative;
    top: 5px;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: left;
    color: #fccccc;   
}

.radio-offer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid brown;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 10%;
    
}

.radio-offer-selected
{
    display: flex;
    position: static;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgb(190, 102, 102) 46%, rgba(165,42,42,1) 100%);
}
/* ==========================================Como gostaria de receber as informações =================================== */


.how-to-contact
{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.structure-howtosend-container
{
margin: -30px auto;
display: flex;
justify-content: center;
width: 400px;
height: 200px;
}

.check-howtosend-container
{ 
height: 200px;
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;
}

.span-howtosend-container
{
    /* border: 2px solid white; */
    height: 160px;
    width: 400px;
    position: relative;
    top: 35px;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: left;
    color: #fccccc;  
}

.check-howtosend-buton
{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px solid brown;
        border-radius: 5px;
        position: relative;
        top: 40px;
        left: 10%;
}

.check-howtosend-buton-selected
{
        display: flex;
        position: static;
        border-radius: 2px;
        width: 10px;
        height: 10px;
        background-image: linear-gradient(90deg, rgba(165, 42, 42, 1) 0%, rgb(190, 102, 102) 46%, rgba(165, 42, 42, 1) 100%);
}
.howtosend-buton-selectedaskOferThree
{
        display: flex;
        position: static;
        border-radius: 2px;
        width: 10px;
        height: 10px;
        background-image: linear-gradient(90deg, rgba(165, 42, 42, 1) 0%, rgb(190, 102, 102) 46%, rgba(165, 42, 42, 1) 100%);
}
.check-howtosend-icon 
{
    width: 10px;
    height: 10px;
    fill: white;
}
.semiselected
{
display: none;
fill: white;
width: 10px;
height: 10px;
}
/* =================================================///////Gostaria de receber nossas ofertas? (Radio Buttons) ================================= */


/* Lista de seleção com divs============================================ */

.select-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 290px;
    height: 25px;
    background-color: #fccccc;
    border-radius: 20px;
    user-select: none;
    margin: 0px;
    padding: 0px;
    margin: auto;
    position: relative;
    top: 50px;
    
}

.placeholder-container
{
    display: flex;
    background-color: #fccccc;
    border-radius: 20px;
    width: 290px;
    height: 30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fccccc;
    border-left: 1px solid #fccccc;
    border-right: 1px solid #fccccc;
    z-index: 2;
    
}

.placeholder
{
    font-size: 15px;
    color: brown;
    opacity: 0.8;
    user-select: none;
    margin-left: 3px;
    padding-right: 10px;
    padding-left: 10px;
   
}

.listdown
{
    width: 20px;
    fill: brown;
    transition: 0.5s;
   scroll-behavior: smooth;
   transform: rotate(90deg);
   
   
}
.listdown:hover
{
    border-radius: 10px;
    fill: #272626;
    transform: rotate(0deg);
}

.listdown:active
{
    fill: #ffffff;
}

.list-container
{
   
    user-select: none;
    transform: translate(0px,-20px);
    width: 270px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    outline: none;
    text-indent: -10px;
}


.list-container-active
{
    user-select: none;
    transform: translate(0px,0px);
    opacity: 1;
    pointer-events: all;
    outline: 1px solid #fccccc;
    text-indent: 0px;
}

.lista
{
    list-style: none;
    color: brown; 
}

.elements
{
    border-bottom: 0.5px solid #f3a5a5; 
    padding: 0px 80px 0px 80px;
    background-color: #fccccc;  
}
.elements:last-child
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;  
}

.elements:hover
{
    background-color: brown;
    color: #fccccc;

}
/* ////Lista de seleção ======================================= */

/* Text area to send message======================================= */
.textarea-container
{
    display: flex;
    flex-direction: column;
    margin: 80px auto 20px auto;
    width: 80%;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
  
}
#message-textarea
{
    margin-top: 15px;
    width: 300px;
    height: 150px;
    resize: none;
    font-family: cursive, sans-serif;
    text-align: center;
}

/* ///////Text area to send message======================================= */

/* Boatão de validação========================================== */
.validation-button
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.submit-formulary
{
    width: 100px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    border: 2px solid #fccccc;
    background-color: brown;
    color: #fccccc;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-formulary:hover
{
    background-color: #fccccc;
    color: brown;
    box-shadow: 0px 0px 10px 0px #fccccc;
}

.submit-formulary:active
{
    background-color: #fccccc;
    color: brown;
    box-shadow: 0px 0px 0px 0px #fccccc;
    }
/* Boatão de validação========================================== */
/* =====================================/////formulario======================================================= */


.we-are
{
    padding: 5%;
}

.contact-location
{
   margin-top: 30px; 
   margin-bottom: 15px;
   color: brown;
   padding: 0px;
}

.address
{
    font-style: italic;
    font-weight: 600;
    color: brown;
    padding: 0px;
}

/* Google maps */

#destiny-instructions
{
    margin: 10px auto 0px auto;
}

#google-maps
{
    width: 100%;
    height: 300px;
    outline: 2px solid brown;
    margin-top: 20px;
    padding: 0px;
}

/* ====================================================FOOTER=============================================================== */
footer
{
height: 250px;
background-color: brown;
display: flex;
justify-content: center;
align-items: center;
}
.left-footer-info
{
    display: flex;
    /* border: 1px solid white; */
    height: 120px;
    width: 370px;
    position: absolute;
    left: 50px;
    gap: 15px
}
.insdir
{
    width: 120px;
}

.attribcopyright
{
    font-size: small;
    
}
.container-copyright
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    
}
.social-midia-item
{
    width: 30px;
    fill: white;
}
.direct-contact
{
    position: relative;
    bottom: 8%;
    left: 290px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 500px;
    color: white;
}
#call-influence
{
    color: #fccccc;
    font-style: italic;
}
.social-midia-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 790px;
    bottom: -80px;
}