@font-face
{
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/Kalam-Regular.ttf'), local('fonts/Kalam-Bold.ttf'), url(fonts/Kalam-Regular.ttf)
}
@font-face
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/Poppins-Regular.ttf'), local('fonts/Poppins-SemiBold.ttf'), url(fonts/Poppins-Regular.ttf)
}
@font-face
{
    font-family: 'MrsSaintDelafield-Regular';
    font-style: normal;
    font-weight: 300;
    src: local('fonts/MrsSaintDelafield-Regular.ttf'), local('fonts/MrsSaintDelafield-Regular.ttf'), url(fonts/MrsSaintDelafield-Regular.ttf)
}
html, body {
    height: 100%;
    width: 100%;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

div.banner
{
    
    height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    overflow: hidden;
    font-family: Kalam;
}
span.site-title
{
    font-family: Kalam;
    color: #fff;
    font-size: 70px;
    z-index: 1;
}
span#delicias
{
    position: absolute;
    top: 90px;
    left: 500px;
    
}

span#da
{
    position: absolute;
    top: 160px;
    left: 630px;
    
}

span#carne
{
    position: absolute;
    top:  230px;
    left: 640px;
    
}
span#slogan
{
    color: white;
    position:absolute;
    top: 310px;
    left: 500px;
    z-index: 1;
    font-style: italic;
}
video#video-banner
{
    width: 100%;
    opacity: 0.35;
}

/* img#banner-one
{
    opacity: 0.35;
    width: 100%;
} */

nav
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    flex-wrap: nowrap;
}

nav ul#menu
{
    margin-bottom: 0;
}

ul#menu li
{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;    
}

ul#menu li:hover
{
    background-color: rgb(247, 210, 210);
}

a.menu-item
{
    display: inline-flex;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 25px;
}

a.menu-item:hover
{
    color: brown;
}

div.image-container
{
    
    width:100%;
    height: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
      /* background-color: #E1E1E1; */
}

h2#exotic-meats
{
    color: brown;
    margin-top: 30px;
    margin-bottom: 30px;
}

div#inicial-offer-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

div#offer-container
{
    display: flex;
    gap: 5px;
    width: 70%;
    overflow: hidden;
    margin-left: 5px;
    flex-wrap: wrap;
}

img#initial-offer
{
width: 300px;
height: 400px;
/* border-radius: 20px; */
} 

img.day-offers
{
    gap: 5px;
    /* border-radius: 10px; */
}

img#offer-one
{
    width: 198px;
    height: 190px;
}

img#offer-two
{
    width: 400px;
    height: 190px; 
}

img#offer-three
{
    width: 198px;
    height: 190px;
}

img#offer-fourth
{
    width: 805px;
    height: 200px;
    
}

/* ===========================================cards Stylization=============================== */

div.card-title-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    margin: 100px auto 40px auto ;
}

span.shoping-call
{
    font-family: Poppins;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

div.centralizer-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.title-meat-cards
{
    position: relative;
    top: 15px;
    transform: rotate(-3deg);
    color: brown;
    font-family: MrsSaintDelafield-Regular;
    font-size: 45px;
    font-weight: 500;
}

div.cards-container
{
    margin: auto;
    width: 80%;
    height: 700px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    

}

div.border-card
{
    width: 230px;
    height: 300px;
    box-shadow: 0px 10px 20px 0px #9a9999;
    transition: 1s;
}

div.border-card:hover
{
    box-shadow: 0px 10px 20px 5px #9a9999;
}
div.card
{
   cursor:pointer;
   display:flex;
   width: 230px;
   height: 300px; 
   flex-direction: column;
   align-items: center;
   border: 1px solid rgb(141, 139, 139);
   box-shadow: 0px 0px 10px 0px gray;
   background-color: #F5F6FB;
   box-shadow: inset 0 0 50px 0 #a8a7a7;
   transition: 1s; 
}
div.card:hover
{
box-shadow: inset 0px 0px 80px 0px rgb(241, 159, 159);

}

img.card-image
{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height:170px; 
    
}

div.icons-container
{
    position: relative;
    top: -15px;
    width: 150px;
    height: 32px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(255, 254, 254); */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgb(184, 179, 179) 5%, rgb(194, 189, 189) 20%, rgb(240, 237, 237) 70%, rgb(255, 255, 255) 90%);
    box-shadow: inset 0 0 10px 0 #d9f3fa;
    transition: 1s;
}

div.icons-container:hover
{
    box-shadow: inset 0 0 15px 0 rgba(255, 4, 4, 0.329);
    
}
svg.card-icons
{
    fill: brown;
    width: 20px;
    transition: width 0.3ms;
}
svg.card-icons:hover
{
 width: 25px;
}

div.card-info
{
    display:block;
    text-align: center;
}
span.title-card
{
 font-weight: bold;
}
span.price
{
    color: brown;
}
span.kg
{
    position: relative;
    top: 2px;
    left: 2px;
    font-size: 11px;
    color:rgb(165, 42, 42);
}


/* ===============================================/////Cards Stylization ============================================= */

/* ====================================Facts Section======================================================= */
div.did-you-know
{

    display: flex;
    background-color: rgb(250, 191, 191);
    margin-top: 100px;
    width: 100%;
    height: 420px;
    box-shadow: 3px 0px 6px 0px gray;
    margin-bottom: 100px;
    
}
div#left-panel
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(165, 17, 17, 0.705);
    
}
span#facts-about-meat
{
    font-size: 50px;
    color: white;
}
span#curiosities
{
   font-family: MrsSaintDelafield-Regular;
   font-size: 25px;
   position: relative;
   top: 32px;
   right: 150px;
   color: white; 
}
div#right-panel
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
}

div.paragraph-container
{
display: flex;
justify-content: center;
align-items: center;
height: 420px;
width: 500px;
}

p.paragraph
{
    padding: 40px;
    text-align: center;
    /* border: 3px groove brown; */
}
/* ====================================////Facts Section======================================================= */

/* =====================================formulario======================================================= */
div.formulary
{
    margin: 70px auto;
    background-color: brown;
    height: 1800px;
}

div.title-form-container
{
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

span.how-you-know
{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
    
}
/* ===========================================Contact Area============================================= */

div.contact-area
{
   height: 250px; 
   width: 100%;
   display: flex;
   
   gap: 10px;
   color: #fccccc;
}

div.info-capture-contact
{
   height: 250px; 
   width: 50%;
   display: flex;
   margin:auto;
   flex-direction: column;
   color: #fccccc;
   align-items: center;
   justify-content: center;
}
span.contact-title
{
    margin-top: 15px;
}
input.contact
{
    width: 300px;
    height: 35px;
}


/* ===========================================//////Contact Area============================================= */
/* ===========================================radio buttons======================================== */
div.radio-buton-container
{
height: 200px;    
width: 80%;
display:flex;
justify-content: space-evenly;
gap:20px;
margin: auto;

}

div.structure-container
{
display: flex;
justify-content: center;
width: 500px;
height: 200px;
}

div.radio-left-container
{ 
height: 200px;
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;
}

div.span-left-container
{
    height: 100px;
    width: 400px;
    position: relative;
    top: 35px;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: left;
    color: #fccccc;   
}

div.radio-buton
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid brown;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 10%;
}
div.radio-buton-unselected
{
    display: none;
}
div.radio-buton-selected
{
    display: flex;
    position: static;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgb(190, 102, 102) 46%, rgba(165,42,42,1) 100%);
}


/* ===================================///// radio buttons ===========================================*/

/* ===================================Check box===================================================== */
div.check-box-container
{
height: 150px;    
width: 80%;
display:flex;
justify-content: space-evenly;
gap: 20px;
margin: auto;
border-top: 1px solid white;
border-left: 1px solid white;
border-right: 1px solid white;
}

div.structure-check-box-container
{
display: flex;
justify-content: center;
width: 500px;
height: 150px;

}

div.checkbox-category-title
{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}
span.checkbox-category
{
    color: #FFF;
}

div.check-left-container
{ 
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;


}

div.span-check-box-left-container
{
    height: 100px;
    width: 400px;
    position: relative;
    top: 35px;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: left;
    color: #fccccc;  
}

div.check-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid brown;
    border-radius: 5px;
    position: relative;
    top: 40px;
    left: 10%;
}

div.check-box-selected
{
    display: flex;
    position: static;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgb(190, 102, 102) 46%, rgba(165,42,42,1) 100%);
}

svg.check-icon 
{
    width: 10px;
    height: 10px;
    fill: white;
}
div.container-select-all-none
{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70px;
    margin: auto;
    justify-content: left;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    
 
}

div.container-check-and-span
{ 
    
    display:flex;
    justify-content: center;
    width: 800px;
    height: 100px;
    gap: 10px;
    flex-direction: row;
   
 }

/*contenedor de ultimo Check box todas as anteriores Carne favorita */
div.checkbox-category-reject
{   
height: 35px;
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}

div.check-box-reject-all-select-all
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid brown;
    border-radius: 5px;
    position: relative;
    top: 5px;
    left: 10%;
}

div.check-box-selected-reject-all-select-all
{
    display: flex;
    position: static;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgb(190, 102, 102) 46%, rgba(165,42,42,1) 100%);
}

/* contenedor de Span de ultimo Check box todas as anteriores Carne favorita  */
div.span-check-box-container-reject-all-select-all
{
    height: 60px;
    width: 400px;
    position: relative;
    top: 2px;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #fccccc;   
     
}
/* ===================================////Check box */

/* =================================================Gostaria de receber nossas ofertas? (Radio Buttons) ================================= */
span.do-you-like
{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
}

div.radio-buton-offer-container
{
height: 80px;    
width: 100px;
display:flex;
gap:5px;
margin: auto;
}

div.radio-offer-container
{ 
position: relative;
top: 4px;
left: 2%;
height: 70px;
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;

}

div.span-offer-container
{
    height: 70px;
    width: 50px;
    position: relative;
    top: 5px;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: left;
    color: #fccccc;   
}

div.radio-offer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid brown;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 10%;
    
}

div.radio-offer-selected
{
    display: flex;
    position: static;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgb(190, 102, 102) 46%, rgba(165,42,42,1) 100%);
}
/* ==========================================Como gostaria de receber as informações =================================== */


span.how-to-contact
{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

div.structure-howtosend-container
{

margin: -30px auto;
display: flex;
justify-content: center;
width: 400px;
height: 200px;

}

div.check-howtosend-container
{ 
height: 200px;
width: 30px;
display: flex;
flex-direction: column;
gap: 10px;
}

div.span-howtosend-container
{
    /* border: 2px solid white; */
    height: 160px;
    width: 400px;
    position: relative;
    top: 35px;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: left;
    color: #fccccc;   
  
    
}

div.check-howtosend-buton
{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px solid brown;
        border-radius: 5px;
        position: relative;
        top: 40px;
        left: 10%;
}

div.check-howtosend-buton-selected
{
        display: flex;
        position: static;
        border-radius: 2px;
        width: 10px;
        height: 10px;
        background-image: linear-gradient(90deg, rgba(165, 42, 42, 1) 0%, rgb(190, 102, 102) 46%, rgba(165, 42, 42, 1) 100%);
}
svg.check-howtosend-icon 
{
    width: 10px;
    height: 10px;
    fill: white;
}

/* =================================================///////Gostaria de receber nossas ofertas? (Radio Buttons) ================================= */


/* Lista de seleção com divs============================================ */

.select-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 290px;
    height: 25px;
    background-color: #fccccc;
    border-radius: 20px;
    user-select: none;
    margin: 0px;
    padding: 0px;
   margin: auto;
   position: relative;
   top: 50px;
}


.placeholder-container
{
    display: flex;
    background-color: #fccccc;
    border-radius: 20px;
    width: 290px;
    height: 30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fccccc;
    border-left: 1px solid #fccccc;
    border-right: 1px solid #fccccc;
    z-index: 2;
    
}
.placeholder
{
    font-size: 15px;
    color: gray;
    opacity: 0.5;
}

.listdown
{
    width: 20px;
    fill: brown;
    transition: 0.5s;
   scroll-behavior: smooth;
   transform: rotate(90deg);
   
}
.listdown:hover
{
    border-radius: 10px;
    fill: #272626;
    transform: rotate(0deg);
}

.listdown:active
{
    fill: #ffffff;
}

.list-container
{
    transform: translate(0px,0px);
    width: 270px;
    z-index: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
    
}

/* Test*/
.list-container:active
{
    transform: translate(0px,-150px);  
}

.lista
{
    list-style: none;
    color: brown; 
}

.elements
{
    border-bottom: 0.5px solid #f3a5a5; 
    padding: 0px 80px 0px 80px;
    background-color: #fccccc;  
}
.elements:last-child
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
/* ////Lista de seleção ======================================= */

/* Boatão de validação========================================== */
div.validation-button
{
    margin-top: 50px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #fccccc; */
    position: relative;
    top: 150px;
}

div.submit-formulary
{
    width: 100px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    border: 2px solid #fccccc;
    background-color: brown;
    color: #fccccc;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.submit-formulary:hover
{
    background-color: #fccccc;
    color: brown;
    box-shadow: 0px 0px 10px 0px #fccccc;
}
div.submit-formulary:active
{
    background-color: #fccccc;
    color: brown;
    box-shadow: 0px 0px 0px 0px #fccccc;
    }
/* Boatão de validação========================================== */
/* =====================================/////formulario======================================================= */





div.espacador
{height: 400px;}


/* img.d-block
{
    height: 350px;
    width: 500px;

} */

